@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.khung{
    width: 100%;
    margin: auto;
}
body{
    font-family: 'Roboto';
}
.action{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.action-img img{
    width: 1100px;
    height: 743px;
}
.action-login{
    padding-right: 30px;
}
.action-login h1{
    text-align: center;
}
.action-login input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.action-login button{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: brown;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.action-login button:hover{
    color: chartreuse;
}
.action-login form a{
    padding-left: 5px;
}
